<div style="padding: 40px; text-align: center;">
    <h2><%= message || 'Something went wrong' %></h2>
    <a href="/" class="link" style="margin-top: 24px; display: inline-block;">Go back home</a>
</div>
